  
  
   nav {
    background-color: #d5fff8;
    padding: .5em;
   
  }
  nav ul {
    margin: 0;
   padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: flex;
   flex-direction: row;
    justify-content: space-evenly; 
  font-size: 25px;
   
  }

a{
  text-decoration: none;
 color:rgb(0, 15, 29);
}

.cartTable{
  padding-left: 100px;
 
}


table,.cardCheckout{
 border-style: solid;
 border-radius: 12px;
 padding: 10px;
 margin-bottom: 20px;
 margin-top: 20px;
 

}

.cardCheckout
{
  max-width: 400px; 
}

 input
{
   text-align: center;
}

 #card-expiration, #card-cvc
 {
   max-width:50px;
 }

 th, td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
 
}
#total-price
{
  margin-top:20px; 
  font-size:20px; 
  font-weight:bold;
  justify-content: right;
}
