   
    body {
  padding-left: 10px;
  padding-right: 10px;
  cursor: url("../img/paw.png") , auto;
  background-image: url("../img/background.png");
  background-size: contain;
  background-position: center;
  
}
 
   
 h1{
 text-shadow: 4px 4px 3px rgb(164, 160, 160);
 background-color: rgba(255, 255, 255, 0.775);
 display: inline-block;
 padding: 40px;
 font-size: 50px;

}


  nav {
  background-color: #d5fff8;
  padding: 10px;
  font-weight: bold;
  
  }

nav ul {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
font-size: 25px;
  
}

a{
  text-decoration: none;
 color:rgb(0, 15, 29);
}

a:hover {
  color: rgb(145, 7, 200);
  cursor: url("../img/paw.png") , auto;
}

.cartTable{
  padding-left: 100px;
 
 
}


table,.cardCheckout{
 border-style: solid;
 border-radius: 12px;
 padding: 10px;
 margin-bottom: 20px;
 margin-top: 30px;
 background-color: rgb(255, 255, 255);
 
}

table {
 border-collapse: collapse;
 border: 3px solid black;
 font-size: 20px;
}

.cardCheckout,form
{
  max-width: 400px; 
  padding-left: 20px;
  font-size: 20px;
}

 input
{
   text-align: center;
}

 #card-expiration, #card-cvc
 {
   max-width:50px;
 }

 th, td {
  border: 1px solid;
  padding: 10px;
  text-align: left;
 
}
#total-price
{
  margin-top:20px; 
  font-size:20px; 
  font-weight:bold;
  justify-content: right;
}



 .layout {
  display:grid;
  grid-template-areas:
    "navBar navBar"
    "cart card";
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  padding: 10px;
  row-gap: 20px;
  
}

.navBar {
  grid-area: navBar;
  text-align: center;
 

}


.cart {
 grid-area: cart;
  padding: 20px;
  gap: 2px;
}


.card {
 grid-area: card;
  padding: 20px;
  gap: 2px;
  
}

.cartLogo
{
  position: relative;
  top: 25px;  
}

.cardLogo
{
  position: relative;
  top: 10px;
 
}



