  nav {
    background-color: #d5fff8;
    padding: .5em;
   
  }
 
 nav ul {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    font-size: 25px;
   
  }

a {
  text-decoration: none;
  color:rgb(0, 15, 29);
 }


.section2{
  text-align: center;
  padding: 50px;
  border-style: dashed;
  border-width: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 500px;
}

textarea
{
  padding-top: 10px;
  height: 90px;
  width: 300px;
  text-align: left;
}


th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 200px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}



 .layout {
  display:grid;
  grid-template-areas:
    "navBar navBar"
    "images1 images1"
    "content1 content1"
    "images2 images2"
    "content2 content2"
     "form info";
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  padding: 10px;
  row-gap: 20px;
  
}

.navBar {
  grid-area: navBar;
  text-align: center;

}


.images1 {
  grid-area: images1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  text-align: center;
   justify-items: center;  
  align-items: center;
  
}

.content1 {
  grid-area: content1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
  
}

.images2 {
  grid-area: images2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  text-align: center;
   justify-items: center;  
  align-items: center;
  
}



.content2 {
  grid-area: content2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
  
}

.form {
  grid-area: form;
  display: grid;
  margin-right: 20px;

}


  
.guide {
  grid-area: info;
  display: grid;
  padding: 40px;
  

}

.caption{
  font-size: 20px;
  font-weight: bold;
 
}
  


