
body {
  padding-left: 10px;
  padding-right: 10px;
  cursor: url("../img/paw.png") , auto;
  background-image: url("../img/background.png");
  background-size: contain;
  background-position: center;
  
}

h1{
 text-shadow: 4px 4px 3px rgb(164, 160, 160);
 background-color: rgba(255, 255, 255, 0.663);
 display: inline-block;
 padding: 40px;
 font-size: 50px;

}

h2{
  text-align: center;
  font-size: 30px;
}


.section2 {
  text-align: center;
  padding: 30px;
  border-style: dashed;
  border-width: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 500px;
  background-color:  rgba(255, 255, 255, 0.85);
}

textarea {
  padding-top: 10px;
  height: 90px;
  width: 300px;
  text-align: left;
}

nav {
  background-color: #d5fff8;
  padding: 10px;
  font-weight: bold;

 
}
  
nav ul {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  font-size: 25px;
}

.navBar a {
  text-decoration: none;
  color:rgb(0, 15, 29);
}

a:hover {
  color: rgb(145, 7, 200);
  cursor: url("../img/paw.png") , auto;
}

#art-info {
border-spacing: 5px;
border: 4px solid;
background-color: rgb(238, 222, 255);
}



th,td{
  border: 1px solid black;
  padding: 8px;
  max-width: 200px;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
}

#table-title {
 font-size: 25px;
}


 .layout {
  display:grid;
  grid-template-areas:
    "navBar navBar"
    "content photography"
    " inquiry artInfo";
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  padding: 10px;
  row-gap: 20px;
  
  
}

.navBar {
  grid-area: navBar;
  text-align: center;


}


.content {
 grid-area: content;
  padding: 20px;
  gap: 2px;
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-width: 4px;
  border-color: #380031;

}

  
.photography {
  grid-area: photography;
  margin: 0;
  padding: 0;
  text-align: center;
  gap: 2px;

  
}

.artInfo {
  grid-area: artInfo;
  gap: 2px;
}

.inquiry {
 grid-area:inquiry;
  gap: 2px;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  
}

.photo {
  background-color: #dab5e4;
  border-style: dashed;
  padding: 10px;
}

  

 