h1{
  border-color: #d3e644;
  border-style: dashed;
}

body{
  padding-left: 10px;
  padding-right: 10px;
}



.section2{
text-align: center;
 padding: 50px;
  border-style: dashed;
  border-width: 5px;
  margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  max-width: 300px;
}

textarea
{
  padding-top: 10px;
 
 height: 90px;
  width: 300px;
  text-align: left;
}



  nav {
    background-color: #d5fff8;
    padding: .5em;
   
  }
  
  nav ul {
    margin: 0;
   padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: flex;
   flex-direction: row;
    justify-content: space-evenly; 
  font-size: 25px;
   
  }

.navBar a{
  text-decoration: none;
 color:rgb(0, 15, 29);
 
}

#art-info
{
  border-spacing: 5px;
  border: 4px solid;
  background-color: rgb(238, 222, 255);
  

}

th,td{
   border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    max-width: 200px;
     word-wrap: break-word;
     background-color: rgb(255, 255, 255);
}

#table-title
{
 font-size: 25px;
}

  
  .examples {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2px;
  }