h1{
  border-color: #d3e644;
  border-style: dashed;
}




.section2{
text-align: center;
 padding: 50px;
  border-style: dashed;
  border-width: 5px;
  margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  max-width: 300px;
}

textarea
{
  padding-top: 10px;
 
 height: 90px;
  width: 300px;
  text-align: left;
}


