  
   nav {
    background-color: #d5fff8;
    padding: .5em;
   
  }
  nav ul {
    margin: 0;
   padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: flex;
   flex-direction: row;
    justify-content: space-evenly; 
  font-size: 25px;
   
  }