body {
  padding-left: 10px;
  padding-right: 10px;
  cursor: url("../img/paw.png") , auto;

  text-align: center;
 
  
}


 h1{
 text-shadow: 4px 4px 3px rgb(164, 160, 160);
 background-color: rgba(255, 255, 255, 0.663);
 display: inline-block;
 padding: 40px;
 font-size: 50px;

}

h2{
  text-align: center;
  font-size: 30px;
}


 nav {
    background-color: #d5fff8;
    padding: 10px;
    font-weight: bold;
   
  }
 
 nav ul {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    font-size: 25px;
   
  }

a {
  text-decoration: none;
  color:rgb(0, 15, 29);
 }

 a:hover {
  color: rgb(145, 7, 200);
  cursor: url("../img/paw.png") , auto;
}
